files
*.substvars
*.debhelper
*.log
*.tar.gz
tmp
libmysqld-cluster-dev
libmysqld-cluster-pic
libndbclient6
libndbclient-dev
mysql-cluster-client
mysql-cluster-client-7.2
mysql-cluster-clusterj
mysql-cluster-common
mysql-cluster-server-datanode
mysql-cluster-server-datanode-7.2
mysql-cluster-server-mgmtnode
mysql-cluster-server-mgmtnode-7.2
mysql-cluster-server-sqlnode
mysql-cluster-server-sqlnode-7.2
mysql-cluster-server-sqlnode-core-7.2
mysql-cluster-source-7.2
mysql-cluster-testsuite-7.2
