Source: mysql-cluster-7.2
Section: misc
Priority: optional
Maintainer: Steven Ayre <steveayre@gmail.com>
Uploaders: Steven Ayre <steveayre@gmail.com>
Build-Depends: procps | hurd,  debhelper (>= 7.0.15), dpatch, cmake, bison, file (>= 3.28), libaio-dev[linux-any], libncurses5-dev (>= 5.0-6), perl (>= 5.6.0), libwrap0-dev (>= 7.6-8.3), zlib1g-dev (>= 1:1.1.3-5), psmisc, chrpath, doxygen, texlive-latex-base, ghostscript, gawk, lsb-release, hardening-wrapper
Standards-Version: 3.9.1
Homepage: http://dev.mysql.com/
Vcs-Browser: https://github.com/SteveAyre/mysql-cluster-7.2
Vcs-Git: git://github.com/SteveAyre/mysql-cluster-7.2.git

# EXCLUDED FROM BUILD: Versioned dependancies on libmysqlclient18 mean we cannot replace it.
#                      We don't build this package to avoid people trying to install it.
#                      libmysqlclient18 is ABI compatible, so it's fine to use that version.
#
#Package: libmysqlclient18-cluster
#Section: libs
#Architecture: any
#Depends: mysql-cluster-common (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
#Conflicts: libmysqlclient18
#Provides: libmysqlclient18
#Multi-Arch: same
#Description: MySQL Cluster database client library
# MySQL is a fast, stable and true multi-user, multi-threaded SQL database
# server. SQL (Structured Query Language) is the most popular database query
# language in the world. The main goals of MySQL are speed, robustness and
# ease of use.
# .
# This package includes the client library (cluster variant).

# EXCLUDED FROM BUILD: Versioned dependancies on libmysqlclient18 mean we cannot replace it.
#                      We don't build this package to avoid people trying to install it.
#                      libmysqlclient18 is ABI compatible, so it's fine to use that version.
#
#Package: libmysqlclient-cluster-dev
#Architecture: any
#Section: libdevel
#Depends: libmysqlclient18-cluster (= ${binary:Version}), zlib1g-dev, ${shlibs:Depends}, ${misc:Depends}
#Conflicts: libmysqlclient-dev, libmysqlclient18-dev, libmysqlclient16-dev, libmysqlclient15-dev, libmysqlclient14-dev, libmysqlclient12-dev, libmysqlclient10-dev
#Provides: libmysqlclient-dev
#Description: MySQL Cluster database development files
# MySQL is a fast, stable and true multi-user, multi-threaded SQL database
# server. SQL (Structured Query Language) is the most popular database query
# language in the world. The main goals of MySQL are speed, robustness and
# ease of use.
# .
# This package includes development libraries and header files.

Package: libmysqld-cluster-pic
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Conflicts: libmysqld-pic
Multi-Arch: same
Description: MySQL Cluster database development files
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the -fPIC version of the embedded server library.

Package: libmysqld-cluster-dev
Architecture: any
Section: libdevel
Depends: libmysqld-cluster-pic (= ${binary:Version}), libmysqlclient-dev, ${misc:Depends}
Conflicts: libmysqld-dev
Description: MySQL Cluster embedded database development files
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the embedded server library and header files.

Package: libndbclient6
Section: libs
Architecture: any
Depends: mysql-cluster-common (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libmysqlclient18
Multi-Arch: same
Description: MySQL Cluster database client library
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the NDB client library.

Package: libndbclient-dev
Architecture: any
Section: libdevel
Depends: libndbclient6 (= ${binary:Version}), zlib1g-dev, ${shlibs:Depends}, ${misc:Depends}
Description: MySQL Cluster database development files
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes development libraries and header files.

# We use the mysql-common from mysql-5.5 to provide the /etc/mysql/my.cnf directory,
# then add the NDB specific options in /etc/mysql/conf.d/my-cluster.cnf in this package
Package: mysql-cluster-common
Architecture: all
Depends: mysql-common (>= 5.5.24+dfsg-3), ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: MySQL cluster database common files, e.g. /etc/mysql/conf.d/my-cluster.cnf
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes files needed by all versions of the NDB libraries,
 e.g. /etc/mysql/conf.d/my-cluster.cnf.

# Contains the NDB-specific client programs, this complements any mysql-client which
# can be provided by either mysql-client-cluster-7.2 or mysql-client-5.5 (or others)
Package: mysql-cluster-client-7.2
Architecture: any
Depends: debianutils (>=1.6), mysql-cluster-common (= ${binary:Version}), libmysqlclient18, libndbclient6 (>= ${source:Version}), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: virtual-mysql-cluster-client, mysql-cluster-client
Suggests: mysql-client
Description: MySQL Cluster database client binaries
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the NDB client binaries.

Package: mysql-cluster-client
Section: database
Architecture: all
Depends: mysql-cluster-client-7.2, ${misc:Depends}
Description: MySQL Cluster database client (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mysql-cluster-client (currently mysql-cluster-client-7.2), as determined by the
 MySQL maintainers. Install this package if in doubt about which MySQL
 version you need. That will install the version recommended by the
 package maintainers.
 .
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.

Package: mysql-cluster-server-sqlnode-core-7.2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: mysql-server-5.5, mysql-server-5.1, mysql-server-5.0
Provides: mysql-cluster-server-core
Description: MySQL Cluster database server sql node binaries
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the server binaries for the SQL node, but doesn't
 contain all the infrastructure needed to setup system databases.

Package: mysql-cluster-server-sqlnode-7.2
Architecture: any
Suggests: tinyca
Recommends: mailx, libhtml-template-perl
Pre-Depends: mysql-cluster-common (= ${binary:Version}), adduser (>= 3.40), debconf
Depends: mysql-cluster-client-7.2 (>= ${source:Version}), mysql-client, libdbi-perl, perl (>= 5.6), ${shlibs:Depends}, ${misc:Depends}, psmisc, passwd, lsb-base (>= 3.0-10), mysql-cluster-server-sqlnode-core-7.2 (= ${binary:Version}), tzdata
Conflicts: mysql-cluster-server (<< ${source:Version}), mysql-server-4.1, mysql-server-5.0, mysql-server-5.1, mysql-server-5.5
Provides: mysql-cluster-server, virtual-mysql-cluster-server, mysql-server, virtual-mysql-server, 
Replaces: mysql-cluster-server (<< ${source:Version})
Description: MySQL Cluster database server sql node binaries and system database setup
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package contains all the infrastructure needed to setup system
 databases.

Package: mysql-cluster-server-sqlnode
Section: database
Architecture: all
Depends: mysql-cluster-server-sqlnode-7.2, ${misc:Depends}
Description: MySQL Cluster database sql node (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mysql-cluster-server-sqlnode (currently mysql-server-sql-7.2), as determined
 by the MySQL maintainers. Install this package if in doubt about which MySQL
 version you need. That will install the version recommended by the
 package maintainers.
 .
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.

Package: mysql-cluster-server-mgmtnode-7.2
Architecture: any
Pre-Depends: mysql-cluster-common (= ${binary:Version}), adduser (>= 3.40), debconf
Depends: mysql-cluster-client-7.2 (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: mysql-cluster-server-mgmtnode
Description: MySQL Cluster database server management node binaries
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the server binaries for the management node.

Package: mysql-cluster-server-mgmtnode
Section: database
Architecture: all
Pre-Depends: mysql-cluster-common (= ${binary:Version}), adduser (>= 3.40), debconf
Depends: mysql-cluster-server-mgmtnode-7.2, ${misc:Depends}
Description: MySQL Cluster server mgmt node (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mysql-cluster-server-mgmtnode (currently mysql-cluster-server-mgmtnode-7.2), as
 determined by the MySQL maintainers. Install this package if in doubt about
 which MySQL version you need. That will install the version recommended by the
 package maintainers.
 .
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.

Package: mysql-cluster-server-datanode-7.2
Architecture: any
Pre-Depends: mysql-cluster-common (= ${binary:Version}), adduser (>= 3.40), debconf
Depends: mysql-cluster-client-7.2 (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: mysql-cluster-server-datanode
Description: MySQL Cluster database server data node binaries
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the server binaries for the data node.

Package: mysql-cluster-server-datanode
Section: database
Architecture: all
Depends: mysql-cluster-server-datanode-7.2, ${misc:Depends}
Description: MySQL Cluster server data node (metapackage depending on the latest version)
 This is an empty package that depends on the current "best" version of
 mysql-cluster-server-datanode (currently mysql-cluster-server-datanode-7.2), as
 determined by the MySQL maintainers. Install this package if in doubt about
 which MySQL version you need. That will install the version recommended by the
 package maintainers.
 .
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.

Package: mysql-cluster-testsuite-7.2
Architecture: any
Depends: mysql-cluster-server, mysql-cluster-client, ${misc:Depends},  ${shlibs:Depends}
Provides: mysql-testsuite
Conflicts: mysql-testsuite
Description: MySQL Cluster testsuite
 MySQL is a fast, stable, and true multi-user, multi-threaded SQL database
 server.  SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the MySQL testsuite.

Package: mysql-cluster-source-7.2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MySQL Cluster source
 MySQL is a fast, stable, and true multi-user, multi-threaded SQL database
 server.  SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the MySQL source code as configured before building.

# EXCLUDED FROM BUILD: Versioned dependancies on libmysqlclient18 mean we cannot replace it.
#                      We don't build this package to avoid people trying to install it.
#                      libmysqlclient18 is ABI compatible, so it's fine to use that version.
#
#Package: mysql-client-core-cluster-7.2
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Breaks: mysql-client-cluster-7.2 (<< ${source:Version})
#Replaces: mysql-client-cluster-7.2 (<< ${source:Version})
#Description: MySQL database core client binaries
# MySQL is a fast, stable and true multi-user, multi-threaded SQL database
# server. SQL (Structured Query Language) is the most popular database query
# language in the world. The main goals of MySQL are speed, robustness and
# ease of use.
# .
# This package includes the core client files.

# EXCLUDED FROM BUILD: Versioned dependancies on libmysqlclient18 mean we cannot replace it.
#                      We don't build this package to avoid people trying to install it.
#                      libmysqlclient18 is ABI compatible, so it's fine to use that version.
#
#Package: mysql-client-cluster-7.2
#Architecture: any
#Depends: debianutils (>=1.6), libdbi-perl, libdbd-mysql-perl (>= 1.2202), mysql-cluster-common (= ${binary:Version}), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, mysql-client-core-cluster-7.2
#Provides: virtual-mysql-client, mysql-client, mysql-client-4.1
#Conflicts: mysql-client, mysql-client-5.0, mysql-client-5.1, mysql-client-5.5
#Replaces: mysql-client, mysql-client-5.0, mysql-client-5.1, mysql-client-5.5
#Suggests: libterm-readkey-perl
#Description: MySQL database client binaries
# MySQL is a fast, stable and true multi-user, multi-threaded SQL database
# server. SQL (Structured Query Language) is the most popular database query
# language in the world. The main goals of MySQL are speed, robustness and
# ease of use.
# .
# This package includes the client binaries and the additional tools
# innotop and mysqlreport.

# mysql-client gets supplied by mysql-5.5
# It is commented out here to avoid multiple source packages providing the same binary package
#
#Package: mysql-client
#Section: database
#Architecture: all
#Depends: mysql-client-cluster-7.2, ${misc:Depends}
#Description: MySQL database client (metapackage depending on the latest version)
# This is an empty package that depends on the current "best" version of
# mysql-client (currently mysql-client-cluster-7.2), as determined by the MySQL
# maintainers.  Install this package if in doubt about which MySQL version
# you want, as this is the one we consider to be in the best shape.

Package: mysql-cluster-clusterj
Section: database
Architecture: all
Depends: default-jre, ${misc:Depends}
Description: MySQL ClusterJ API
 MySQL is a fast, stable and true multi-user, multi-threaded SQL database
 server. SQL (Structured Query Language) is the most popular database query
 language in the world. The main goals of MySQL are speed, robustness and
 ease of use.
 .
 This package includes the ClusterJ API java classes.

